body {
  margin:0;
  padding: 0px;
  min-width: 1200px;
  font-family: "Roboto", "Arial", "Sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  background-color:#eeeeee;
  margin-bottom: 58px;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: black;
  background-color: #eeeeee;
}

.main-header-logo:focus,
.main-header-logo:hover {
  opacity: 0.8
}

.main-header-logo:active {
  opacity: 0.3
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a,
.basket-navigation a {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: #f96a6e;
}

.site-navigation a:active,
.site-navigation a:active,
.basket-navigation a:active,
.basket-navigation a:active {
  color: black;
  opacity: 0.3;
}

.features h3 {
  font-size: 55px;
  line-height: 55px;
}

.features-info {
  font-size: 16px;
  line-height: 24px;
}

.features-info-link {
  color: white;
  background-color:#d7373b;
}

.features-info-link:active {
  color: white;
  background-color:#d7373b;
}

.features-info-link:focus {
  color: white;
  background-color:#e74246;
}

.features-info-link:hover {
  color: white;
  background-color:#fb565a;
}

.service-list {
  list-style: none;
}

.service-list h3 {
  font-size: 24px;
  line-height: 30px;
}

.service-list p {
  font-size: 16px;
  line-height: 24px;
}

.sevice-web-link {
  display: block;
  width: 160px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 3px;
  border: none;
  background-color: #fb565a;
  margin-bottom: 73px;
}

.sevice-web-link:focus {
  color: #f9cdce;
  background-color:#e74246;
}

.sevice-web-link:hover {
  color: #f9cdce;
  background-color:#e74246;
}

.sevice-web-link:active{
  color:#e06366;
  background-color:#d7373b;
}

.sevice-applications-link {
  display: block;
  width: 160px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 3px;
  border: none;
  background-color:#00ca74;
  margin-bottom: 122px;
}

.sevice-applications-link:focus {
  color:#ffffff;
  background-color:#00bc6c;
}

.sevice-applications-link:hover {
  color: #ffffff;
  background-color:#00bc6c;
}

.sevice-applications-link:active {
  color:#38bd84;
  background-color: #00aa62;
}

.sevice-presentation-link {
  display: block;
  width: 160px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 3px;
  border: none;
  background-color:#efc84a;
  margin-bottom: 122px;
}

.sevice-presentation-link:focus {
  color:#ffffff;
  background-color:#eab534;
}

.sevice-presentation-link:hover {
  color: #ffffff;
  background-color:#eab534;
}

.sevice-presentation-link:active {
  color:#ebba53;
  background-color: #e5a722;
}

.about-us-concept {
  font-size: 45px;
  line-height: 45px;
}

.about-us-description {
  font-size: 16px;
  line-height: 24px;
}

.about-us-options {
  font-size: 16px;
}

.about-us-options-list {
  list-style: none;
}

.about-us-date {
  font-weight: 700;
}

.statistics-percent {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
}

.statistics-parameres {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.client-list {
  list-style: none;
}

.client-list a {
  opacity: 0.3;
}

.client-list a:focus {
  opacity: 1;
}

.client-list a:hover {
  opacity: 1;
}

.client-list a:active {
  opacity: 0.1;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-adress,
.contacts-phone,
.contacts-phone a {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.5;
  text-decoration: none;
}

.contacts-mail {
  display: block;
  width: 219px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.contacts-mail:hover,
.contacts-mail:focus {
  background-color: #e74246;
}

.contacts-mail:active {
  color: #e06366;
  background-color:#d7373b;
}

.social-button {
  list-style: none;
}
.footer {
  display: flex;
  padding-top: 0;
}

.footer-promo b {
  font-size: 36px;
  line-height: 36px;
}

.footer-promo p {
  font-size: 16px;
  line-height: 22px;
}

.feedback h3 {
  font-size: 45px;
  line-height: 45px;
}

.feedback input[type="text"],
.feedback input[type="email"],
.feedback textarea {
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #d7dcde;
}

.feedback input:hover,
.feedback textarea:hover {
  border-color: #b4b9bb;
}

.feedback input:active,
.feedback textarea:active,
.feedback input:focus,
.feedback textarea:focus {
  border-color: #000000;
}

.feedback input:invalid {
  border-color: #e74246;
}

.feedback label {
  font-size: 16px;
  line-height: 18px;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.sort {
  font-size: 18px;
  line-height: 18px;
  padding-left: 40px;
  margin-top: 0px;
}

.sort-list {
  list-style: none;
  display: flex;
  margin-bottom: 45px;
  justify-content: flex-end;
  align-items: center;
  width: 360px;
  margin-top: -37px;
  margin-bottom: 59px;
}

.sort-name {
  margin-right: 24px;
}

.sort-name-link,
.sort-type-link,
.sort-price-link-current {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  margin-right: 20px;
}

.sort-name-link:hover,
.sort-type-link:hover,
.sort-price-link-current:hover {
  opacity: 0.6;
}

.sort-name-link:active,
.sort-type-link:active,
.sort-price-link-current:active,
.sort-name-link:focus,
.sort-type-link:focus,
.sort-price-link-current:focus {
  opacity: 1;
}

.filters-data legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-top: -5px;
}

.filters-data fieldset {
  border:0 none;
 }

.filters-data label {
  font-size: 16px;
  line-height: 20px;
}

.filters-data input {
  opacity: 0.5;
  color: #000000;
}

.filters-data input:focus,
.filters-data input:active {
  opacity: 1;
}

.filters-data input:disabled {
  opacity: 0.2
}

.filters-data label {
  opacity: 0.5;
  color: #000000;
}

.filters-data label:focus,
.filters-data label:active {
  opacity: 1;
}

.filters-data label:invalid,
.filters-data label:invalid {
  opacity: 0.2
}

.filters-price label {
  font-size: 16px;
  line-height: 22px;
}

.catalog-booking {
  display: block;
  width: 200px;
  color: #ffffff;
  background-color: #fb565a;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  margin: auto auto;
}

.catalog-booking:focus {
  color: #f9cdce;
  background-color:#e74246;
}

.catalog-booking:hover {
  color: #f9cdce;
  background-color:#e74246;
}
.catalog-booking:active {
  color:#e06366;
}

.catalog-list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-desc {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  align-items: flex-start;
  margin-left: 40px;
}
.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-list a {
  background-color:#eeeeee;
  color:black;
  display: block;
  padding: 16px 20px;
  border-radius: 5%;
}

.pagination-item-current {
  border: 3px solid #dbdbdb;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color:#dfdfdf;
  color:black;
}

.pagination-list a:active,
.pagination-list a:active {
  background-color:#d5d5d5;
  color:black;
  opacity: 0.5;
  border-top: 3px solid #bfbfbf;
}

.main-header {
  margin-bottom: 35px;
  min-height: 95px;
}

.main-navigation {
  min-height: 95px;
  background-color: transparent;
}

.main-header-logo {
  display: block;
  width: 160px;
  height: 65px;
}

/*
.slider {
  position: relative;
  background-color:#eeeeee;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  max-width: 450px;
  margin: 0;
  margin-bottom: 25px;
}

.slider-item-button p {
  max-width: 365px;
  margin: 0;
  margin-bottom: 40px;
}

.slider-item-button {
  display: block;
  background-color: #fb565a;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}
.slider-item-button:active {
  color: #e37376;
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color:#eeeeee;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}


.slider {
  position: relative;
  background-color: #eeeeee;

}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


/* треугольнки сортировки*/
.sort-down-link {
  display: block;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid trasparent;
  border-top: 15px solid #231f20;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.sort-up-link {
  display: block;
  width: 0px;
  height: 0px;
  border: 15px solid #231f20;
  border-bottom-color: #231f20;
  border-top-width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: 16px;

}

.sort-down-link,
.sort-up-link {
  opacity: 0.2;
}

.sort-down-link:hover,
.sort-down-link:focus {
  border-top: 15px solid #a6a6a6;
  opacity: 1;
}

.sort-up-link:hover,
.sort-up-link:focus {
  border-bottom: 15px solid #a6a6a6;
  opacity: 1;
}

.sort-down-link:active {
  border-top: 15px solid #231f20;
}

.sort-up-link:active {
  border-bottom: 15px solid #231f20;
}

.sort-down-link.active-link {
  opacity: 1;
}



/* форма фильтров*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  background-color:#f1f1f1 ;
  border-radius: 5px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 55px;
}

.range-controls .toggle-max {
  left: 115px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*Карта*/
.contacts-maps {
  display: flex;
  background-image: url("../img/maps.jpg");
  height: 415px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 76px;
  background-size: cover;
 }

/*Магазин - подчеркивание*/
.site-navigation-current::after {
  content: "";
  display: block;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}
/* Фильтр checkbox*/
.perfect input {
  display: none;
}

.checkbox-item {
  display: inline-block;
  margin-right: 20px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.perfect input:checked ~ .checkbox-item {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 1;
}
.checkbox-item:hover,
.checkbox-item:focus,
.perfect label:hover,
.perfect label:focus {
  opacity: 1;
}

.perfect label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.perfect label {
  font-family: "Roboto", "Arial", "Sans-serif";
  font-size: 16px;
  line-height: 20px;
}

/*Фильтр radio*/
.radio-container input {
  display: none;
}

.radio-item {
  display: inline-block;
  margin-right: 20px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.radio-container input:checked ~ .radio-item {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.radio-container label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.radio-item:hover,
.radio-item:focus,
.radio-container label:hover,
.radio-container label:focus {
  opacity: 1;
}

.radio-container label {
  font-family: "Roboto", "Arial", "Sans-serif";
  font-size: 16px;
  line-height: 20px;
}
/*иконки соц сетей*/
.footer-social ul {
  list-style: none;
}

/*сетка базовая*/


.main-header {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  background-color: #eeeeee;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 560px;
  background-color: #eeeeee;
  flex-wrap: wrap;
  margin-left: 119px;
}

.basket-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 180px;
  background-color: #eeeeee;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 34px;
  background-color: #eeeeee;
}

.container-navi {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.service {
  width: 1160px;
  margin: 0 auto;
  padding: 0px;
  background-color: #ffffff;

}

.container-navi, .main-navigation-wrapper{
  display: flex;
  justify-content: space-between;

}

.service-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

}

.service-web,
.service-applications,
.service-presentation {
  width: 300px;
  margin-right: 100px;

}

.container-about {
  width: 1160px;
  margin: 0 auto;
  padding: 0px;
  background-color: #ffffff;
  margin-bottom: 142px;
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 660px;
}

.statistics {
  width: 360px;
}

.client-list {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 ;
  background-color: #ffffff;


}

.client-item {
  width: 260px;
}

.contacts {
  display: block;
  background-color: #ffffff;
  padding-left: 50px;
  padding-top: 55px;
  padding-bottom: 46px;
  margin-right: 52%;
  padding-right: 55px;
}

.main-footer {
  margin-top: 126px;
  background-color: #ffffff;
}

.footer-container {
  display: flex;
  width: 1160px;
  margin: auto;
  padding: 0 20px;
  background-color: #ffffff;
  padding-top: 78px;
}

.footer-promo {
  width: 700px;
  background-color: #ffffff;
  margin: auto auto;
  margin-bottom: 0px;
  line-height: 36px;
  text-align: left;
  font-size: 26px;
}

.social-button {
  width: 300px;
  margin-top: 0px;
}

/**/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation a,
.user-navigation a {
  display: block;
}

.site-navigation a,
.basket-navigation a {
  display: block;
  padding: 25px 20px;
  vertical-align: middle;
}
.basket-navigation .basket-link {
  padding-left: 26px;
  position: relative;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 5px;
  width: 16px;
  height: 18px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.social-button {
  display: flex;
  width: 260px;
}

.social-button a {
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  vertical-align: middle;
}

.social-button-vk,
.social-button-instagram,
.social-button-facebook {
  width: 32px;
  height: 32px;
  background-color: #e1e1e1;
  opacity: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social-button-facebook:focus,
.social-button-facebook:hover,
.social-button-vk:focus,
.social-button-vk:hover,
.social-button-instagram:focus,
.social-button-instagram:hover {
  background-color: #e74246;
}

.social-button-facebook:active,
.social-button-vk:active,
.social-button-instagram:active {
  background-color: #d7373b;
}

.social-button-facebook:active path,
.social-button-vk:active path,
.social-button-instagram:active path {
  fill: #e37376;
}

/*.social-button-vk::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 5px;
  width: 80px;
  height: 80px;
  background-image: url("../img/vk-icon.svg");
  background-position: center center;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 50%;
}

.social-button-facebook::before {
  content: "";
  position: absolute;
  top: 2890px;
  left: 275px;
  width: 80px;
  height: 80px;
  background-image: url("../img/fb.svg");
  background-position: center center;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 50%;
}

.social-button-instagram::before {
  content: "";
  position: absolute;
  top: 2890px;
  left: 350px;
  width: 80px;
  height: 80px;
  background-image: url("../img/vk-icon.svg");
  background-position: center center;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  opacity: 1;
  border-radius: 50%;
}

.social-button-facebook:focus::before,
.social-button-facebook:hover::before,
.social-button-vk:focus::before,
.social-button-vk:hover::before,
.social-button-instagram:focus::before,
.social-button-instagram:hover::before{
  background-color: #e74246;
}

.social-button-facebook:active::before,
.social-button-vk:active::before,
.social-button-instagram:active::before{
  background-color: #d7373b;

}

*/
/*каталог*/

.catalog-container {
  width: 760px;
  margin-left: 15px;
}

.page-title {
  padding-bottom: 116px;
}

.filters {
  width: 260px;
}

.sort-list {
  list-style: none;
  width: 760px;
}

.catalog-list {
  width: 760px;
}

.catalog-list li {
  margin-right: 40px;
  margin-bottom: 66px;
}

.catalog-list li:nth-child(2n) {
  margin-right: 0px;
}

.catalog-list li:last-child {
  margin-bottom: 60px;
}

.calog-item-info {
  position: absolute;
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  margin-left: 0px;
  margin-top: -240px;
}

.centr-item {
  display: flex;
}


/*Красные прочерки на главной*/
.about-us-options-list li::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  margin-left: -40px;
  margin-top: -10px;
}

.filters-post{
  width: 260px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #eeeeee;
  font-weight: 700;
  border-radius: 5%;
  border: none;
  margin-top: 50px;
}

.filters-post:hover,
.filters-post:focus {
  background-color: #dfdfdf;
}

.filters-post:focus {
  background-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
  padding-top: 15px;
}

/*шапка карточки каталога*/
.catalog-item-current {
  position: relative;
  margin-right: 40px;
}

.catalog-item {
  position: relative;

}

.catalog-header {
  position: absolute;
  margin-top: -39px;
  opacity: 0.12;
}

.catalog-header:focus,
.catalog-header:hover{
  opacity: 1;
}

.catalog-item li {
  margin-bottom: 33px;
}

.info-active {
  opacity: 1;
}

/*статистика*/

.statistics-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 360px;
  padding: 0;
  flex-direction: row;
  justify-content: flex-start;
}

.statistics-percent {
  width: 100px;
  flex-wrap: wrap;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  margin-right: 20px;
  align-items: last baseline;
}

.percent,
.number {
  font-weight: 700;
  line-height: 45px;
  font-size: 45px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

/*форма*/

.feedback {
  width: 760px;
  background-color: #ffffff;
  padding-top:70px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 100px;
  position: fixed;
  top: 350px;
  left: 320px;
  box-shadow: 10px 30px 15px #6f7070;
}

.close-form {
  display: block;
  width: 21px;
  height: 21px;
  font-size: 0;
  opacity: 0,3;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 91px;
  left: 830px;
}

.close-form:hover,
.close-form:focus {
  opacity: 1;
}








